@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #00060a;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1260px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: grey;
    color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    padding: 1%;
}

.main-nav {
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img {
    width: 80px;
    border-radius: 5px;
}

.nav-links ul {
    gap: 15px;
}

li {
    font-size: 20px;
}

/* .nav-items */
.mystyle {
    color: purple;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}

.hover-link:active {
    color: red;
}

/*HAMBURGER MENU*/
.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 9px;
    height: 35px;
    width: 10%;
    cursor: pointer;
    display: none;
}

.hamburger-menu span {
    background-color: #ffffff;
    border-radius: 15px;
    /* width: ; */
    height: 5px;
}

.hamburger-options {
    padding: 1%;
    background-color: grey;
    /* background-color: aliceblue; */
    margin-top: 87px;
    width: 50%;
    height: 226px;
    position: fixed;
    top: -4%;
    left: 50%;
    z-index: 100;
    display: none;
}

.hamburger-options .flex {
    flex-direction: column;
    gap: 5px;
    text-align: start;
}


.hamburger-options .flex li {
    background-color: aliceblue;
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.cross-icon {
    display: none;
}

.search-bar {
    height: 35px;
    width: 23%;
    gap: 15px;
}

.search-bar input {
    height: 100%;
    border: none;
    width: 80%;
    border-radius: 5px;
    padding-inline: 5px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.search-button {
    height: 100%;
    border: none;
    width: 35%;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    background-color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
}

.search-button:hover,
.load-more button:hover {
    background-color: var(--accent-color-dark);
}

svg {
    display: none;
}

main {
    padding-block: 20px;
    margin-top: 150px;
}

.images-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    transition-duration: 0.3s;
    margin-inline: auto;
}

.card:hover {
    box-shadow: 1px 1px 8px rgb(99, 207, 249);
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.card-content {
    padding: 15px;
    text-align: start;
}

.load-more {
    margin-top: 30px;
    text-align: center;
}

.load-more button {
    padding: 8px 25px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: var(--accent-color);
    font-weight: 900;
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

h4 {
    color: black;
    display: inline;
    font-weight: 900;
}

span {
    font-size: 18px;
    text-align: center;
}

@media(width<770px) {
    .main-nav {
        padding-inline: 1%;
    }

    .company-logo img {
        width: 60px;
        margin-top: 5px;
    }


    .nav-links .flex li {
        display: none;
    }

    .search-bar {
        width: 60%;
        margin-inline: auto;
    }

    .hamburger-menu {
        display: flex;
    }


    li {
        font-size: 13px;
    }

    .images-container {
        margin-top: -50px;
        margin-inline: 5%;
    }

}

@media(width<500px) {
    svg {
        display: block;
        width: 35px;
    }

    .search-button {
        display: none;
    }
}